.cards-container{
    max-width: 820px !important;
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
}

.card {
	background-color: red !important;;
	width: 400px !important;
}