.cards-container{
    max-width: 28cm !important;
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
}

.card {
	/* background-color: red !important; */
	width: 13.7cm !important;
}




@media print {
    .card{
        /* break-inside: avoid !important; */

        
    }

    .top-btn{
        display: none !important;
    }
}