.cards-container{
    max-width: 1000px !important;
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
}

.card {
	/* background-color: red !important; */
	width: 490px !important;
}




@media print {
    .card{
        break-inside: avoid !important;
        
    }

    .top-btn{
        display: none !important;
    }
}